<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Daily Deals</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to scan products.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access for video capture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to save captured scans.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save captured scans.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby deals and estimate travel time.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
